crewai
crewai-tools
pyyaml>=6.0.2
langchain-openai
langchain-groq
python-dotenv
acp-sdk
fastapi
uvicorn
pydantic
huggingface-hub
sentence-transformers
pypdf
langchain-huggingface>=0.3.1
nest-asyncio>=1.6.0
agntcy-acp>=1.5.2
